body {
	overflow:auto;
	overflow-x:hidden;
}

.text-content {
	float:none;
	width:100%;
	height:auto;
	max-width:100%;
}

h1 {
	margin:2px;
}

.text-content #shopping-cart {
	top:25px;
}

.text-content nav {
	min-height:80px;
	margin:0px;
}

.text-content .description {
	padding-left:5px;
	padding-right:30px;
}

.text-content footer {
	position:relative;
}

.image-content {
	float:none;
	width:100%;
	overflow:visible;
}

.image-content li {
	float:none;
	padding-bottom:20px;
	display:block;
	width:100%;
}

.products li {
	margin-left:40px;
}

.special-products .product-info {
	position:relative;
	max-width:100%;
	margin-left:0px;
}

#founders {
	margin-left:15px;
}

#internship {
	margin-left:15px;
}

.contact-form {
	margin-left:15px;
}