body {
	overflow:auto;
	overflow-x:hidden;
}

.blue-bar {
	float:none;
	width:100%;
	height:auto;
	max-width:100%;
}

h1 {
	margin:2px;
}

.blue-bar #shopping-cart {
	top:25px;
}

.blue-bar nav {
	min-height:80px;
	margin:0px;
}

.blue-bar .description {
	padding-left:5px;
	padding-right:30px;
}

.blue-bar footer {
	position:relative;
}

.main-content {
	float:none;
	width:100%;
	overflow:visible;
	height:auto;
}

.main-content li {
	float:none;
	padding-bottom:20px;
	display:block;
	width:100%;
}

.products li {
	margin-left:40px;
}

.product-images li{
	float:left;
	width:25%;
}

.special-products .product-info {
	position:relative;
	max-width:100%;
	margin-left:0px;
}

#founders {
	margin-left:15px;
}

#internship {
	margin-left:15px;
}

.contact-form {
	margin-left:15px;
}