body {
	margin:0px;
	padding:0px;
	font-family:"Helvetica", san-serif;
	font-size:12px;
}

body, html, .page {
	height:100%;
}

ul {
	margin:0px;
	padding:0px;
}

li {
	list-style:none;
	padding:0px;
	margin:0px;
	float:left;
}

h1 {
	border-top:4px solid #fff;
	display:inline-block;
	font-size:30px;
}

h1 a {
	color:#fff;
}

h2 {
   font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size:24px;
}

a {
	color:#fff;
	text-decoration:none;
}

a:hover {
	color:#5f8fa9;
}

a:active {
	color:#5f8fa9;
}

.text-content {
	width:27%;
	max-width:450px;
	background:#062131;
	color:#fff;
	height:100%;
	margin:0px;
	float:left;
	padding:4% 4% 4% 2%; 
	position:relative;

}

.text-content nav{
	margin-bottom:40px;
	min-height:50px;
}

.text-content nav  ul{
	padding:0px;
}

.text-content nav ul li {
	float:left;
	list-style:none;

}

.text-content nav ul li a {
	text-decoration:none;
	margin-right:20px;
	padding-top:2px;
	margin-top:10px;
	border-top:1px solid #fff;
	font-size:16px;
}

.text-content #shopping-cart {
	position:absolute;
	right:20%;
	top:100px;
}

.text-content footer {
	position:absolute;
	top:80%;
	left:35%;
}

.text-content footer img {
	margin-left:20px;
}

.text-content .price {
	margin-top:20px;
	margin-bottom:20px;
	font-size:20px;
}

.image-content {
	float:left;
	width:67%;
	height:100%;
}

.image-content .products a {
	color:#333;
}

.special-products {
	margin:0px;
	padding:0px;
}

.special-products li {
	list-style:none;
	margin:0px;
	float:left;
	display:inline-block;
	position:relative;
	width:50%;
}

.special-products li:first-child {
	width:100%;
}

.special-products li:last-child {
	/*margin-left:5%;*/
}

.special-products li img {
	display:inline-block;
	width:100%;
	height:auto%;
}

.special-products .product-info {
	position:absolute;
	top:65%;
	margin-left:30px;
}

.special-products .product-info h2, .special-products .product-info p {
	margin:3px;
}

.product-images li {
	list-style:none;
	margin:0px;
	float:left;
	display:inline-block;
	position:relative;
	width:25%;
}

.product-images li:first-child {
	width:100%;
}

.product-images li img {
	display:inline-block;
	width:100%;
	height:auto%;
}

.products {
	margin-top:65px;
	margin-left:35px;
}

.products li {
	margin-right:20px;
	margin-bottom:40px;
}

fieldset {
	border:0px;
	padding:0px;
}