body {
	margin:0px;
	padding:0px;
	font-family:"Helvetica", san-serif;
	font-size:12px;
	overflow:hidden;
}

body, html, .page {
	height:100%;
}

ul {
	margin:0px;
	padding:0px;
}

li {
	list-style:none;
	padding:0px;
	margin:0px;
	float:left;
}

h1 {
	border-top:4px solid #fff;
	display:inline-block;
	font-size:30px;
}

h1 a {
	color:#fff;
}

h1 a:hover {
	border-top:4px solid #5f8fa9;
}

h2 {
   font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size:24px;
}

a {
	color:#fff;
	text-decoration:none;
}

a:hover {
	color:#5f8fa9;
}

a:active {
	color:#5f8fa9;
}

.text-content {
	width:27%;
	max-width:450px;
	background:#062131;
	color:#fff;
	height:100%;
	margin:0px;
	float:left;
	padding:4% 4% 4% 2%; 
	position:relative;

}

.text-content nav{
	margin-bottom:40px;
	margin-top:15px;
	min-height:100px;
}

.text-content nav  ul{
	padding:0px;
}

.text-content nav ul li {
	float:left;
	list-style:none;
	margin-top:15px;

}

.text-content nav ul li a {
	text-decoration:none;
	margin-right:20px;
	padding-top:2px;
	margin-top:10px;
	border-top:1px solid #fff;
	font-size:16px;
}

.text-content nav ul li a:hover {
	border-top:1px solid #5f8fa9;
}

.text-content #shopping-cart {
	position:absolute;
	right:20%;
	top:90px;
	padding:5px;
	border-radius:3px;
}

.text-content #shopping-cart:hover {
	background:#13384e;
}

.text-content footer {
	position:absolute;
	bottom:18%;
	min-height:30px;
	margin-top:40px;
}

.text-content footer img {
	margin-right:20px;
}

.price {
	margin-top:20px;
	margin-bottom:20px;
	font-size:20px;
}

.image-content {
	float:left;
	width:67%;
	height:100%;
	overflow:auto;
}

.image-content .products a {
	color:#333;
}

.special-products {
	margin:0px;
	padding:0px;
}

.special-products li {
	list-style:none;
	margin:0px;
	float:left;
	display:inline-block;
	position:relative;
	width:50%;
}

.special-products li:first-child {
	width:100%;
}

.special-products li:last-child {
	/*margin-left:5%;*/
}

.special-products li img {
	display:inline-block;
	width:100%;
	height:auto%;
}

.special-products .product-info {
	position:absolute;
	top:75%;
	margin-left:30px;
	background-color:rgba(0,0,0,0.6);
	padding:2px;
	border-radius:2px;
	max-width:45%;
	border-top:1px solid #fff;
	color:#fff;
}

.special-products .product-info h2, .special-products .product-info p {
	margin:3px;
}

.product-images li {
	list-style:none;
	margin:0px;
	float:left;
	display:inline-block;
	position:relative;
	width:25%;
}

.product-images li:first-child {
	width:100%;
}

.product-images li img {
	display:inline-block;
	width:100%;
	height:auto%;
}

.products {
	margin-top:65px;
	margin-left:35px;
}

.products li {
	margin-right:20px;
	margin-bottom:40px;
}

#founders {
	margin-left:40px;
	margin-top:65px;
}

#founders li {
	float:none;
	margin-bottom:30px;
}

#founders .founder-info {
	display:inline-block;
	max-width:400px;
	padding-left:5px;
}

#founders .founder-info a {
	color:#5f8fa9;
}

#internship {
	margin-left:40px;
	margin-top:40px;
}

#internship li {
	float:none;
	margin-bottom:30px;
}

#internship .internship-info {
	display:inline-block;
	max-width:400px;
	padding-left:5px;
}

#internship .internship-info a {
	color:#5f8fa9;
}

fieldset {
	border:0px;
	padding:0px;
}

form #quantity {
	border:none;
	width:40px;
	color:#fff;
	background:#13384e;
}

form #submit {
	border:none;
	background:#3a6379;
	color:#fff;
	margin-top:20px;
	border-radius:2px;
	padding:4px;
}

form #submit:hover {
	background:#13384e;
}

form input[type="submit"] {
	border:none;
	background:#3a6379;
	color:#fff;
	margin-top:20px;
	border-radius:2px;
	padding:4px;
}

form input[type="submit"]:hover {
	background:#13384e;
}

.contact-form {
	margin-left:40px;
	margin-top:40px;
}

.contact-form form label {
	display:block;
	font-weight:bold;
}

.contact-form input[type="text"], .contact-form input[type="mail"], .contact-form textarea {
	width:300px;
}

.contact-form fieldset {
	padding-bottom:20px;
}